body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #1d1f1f;
  padding: 50px;
  background-color: #e1dbdb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.square {
  width: 60px;
  height: 60px;
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.board-row {
  display: flex;
}

.status {
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #31c035;
  color: white;
  border: none;
  border-radius: 5px;
}

.restart-button:hover {
  background-color: #1dc625;
}
